scripts/basic/
scripts/kconfig/
.config
.config.old
*.*~
Makefile~
*.lmza
*.gz
*.ko
*.builtin
*.o
*.cmd
*.d
*.order
.version
arch/arm/kernel/asm-offsets.s
include/config/
include/generated/
include/linux/version.h
kernel/bounds.s
kernel/config_data.gz
kernel/config_data.h
usr/initramfs_data.cpio.lzma
.tmp_System.map
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
Module.symvers
System.map
arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.lzma
arch/arm/boot/compressed/vmlinux
arch/arm/boot/Image
arch/arm/boot/zImage
arch/arm/kernel/vmlinux.lds
arch/arm/lib/lib.a
drivers/spi/spidev.ko
drivers/spi/spidev.mod.c
drivers/video/backlight/lcd.ko
drivers/video/backlight/lcd.mod.c
lib/lib.a
vmlinux
arch/arm/boot/compressed/ashldi3.S
arch/arm/boot/compressed/piggy.xzkern
crypto/crc32c_table.h
crypto/gen_crc32ctable
arch/arm/boot/compressed/vmlinux.lds
arch/arm/common/cpaccess.mod.c
arch/arm/mach-msm/dal_remotetest.mod.c
arch/arm/mach-msm/dma_test.mod.c
arch/arm/oprofile/oprofile.mod.c
arch/arm/perfmon/ksapi.mod.c
crypto/ansi_cprng.mod.c
drivers/bluetooth/bthid/bthid.mod.c
drivers/char/consolemap_deftbl.c
drivers/char/defkeymap.c
drivers/crypto/msm/qce.mod.c
drivers/crypto/msm/qcedev.mod.c
drivers/crypto/msm/qcrypto.mod.c
drivers/input/evbug.mod.c
drivers/media/video/gspca/gspca_main.mod.c
drivers/misc/msm_tsif.mod.c
drivers/misc/tsif_chrdev.mod.c
drivers/misc/vibetonz/vibrator.mod.c
drivers/net/wireless/bcm4330/dhd.mod.c
drivers/net/wireless/libra/librasdioif.mod.c
drivers/scsi/scsi_wait_scan.mod.c
kernel/timeconst.h
lib/crc32table.h
lib/gen_crc32table
usr/gen_init_cpio

